parte1/bin/

parte1/challenge1/challenge1_secuencial
parte1/challenge1/challenge1_multiprocess
parte1/challenge1/challenge1_threads

parte1/challenge2/challenge2_secuencial
parte1/challenge2/challenge2_multiprocess
parte1/challenge2/challenge2_threads
